
.loginWrapper{
    display: flex;
    max-width: 1050px;
    height: 600px;
    margin-top: 20px;
    margin-left:auto ;
    margin-right: auto;
    justify-content: center;

}
.imageWrapper{
    background-image: url("../icons/clock.jpg");
    background-size: cover;
    width: 49%;
    height: 550px;
}
.loginFormWrapper{
    width: 49%;
 
    background-color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .form{
    display: flex;
    flex-direction: column;
 }
 .form input{
    width: 425px;
    margin-bottom: 35px;
    height: 39px;
    border: none;
    border-bottom: 1px solid brown;
    outline-style: none;
    font-size: 18px;
    color: rgb(43, 18, 18);
    
    
 }
.form input::placeholder{
    color:brown;
}
 .form button{
    width: 435px;
    margin-bottom: 35px;
    height: 46px;
    margin-top: 20px;
    background-color:brown;
    font-size: 18px;
    border: none;
    color: white;


 }
 .form h2{
     text-align: center;
     margin-bottom: 30px;
     color: brown;
 }
 .form p{
    color: brown;
    
 }
 span a{
    color: red;
    padding-left: 5px;
    text-decoration: none;
 }
